.horizontal-grid-container{
    display: flex;
    flex-direction: column;
    max-width: 1230px;
    align-self: center;
    width: 100%;
    position: relative;
}

.horizontal-grid-container.container{    
    padding-top: 24px;
    overflow: hidden;
}

.container.headings{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.headings.heading-2{
    color: #32323d;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 18px;
    letter-spacing: .8px;
    font-weight: 600;
}

.headings.heading-2-sub{
    color: #72727d;
    font-family: "Open Sans",Arial,sans-serif;
    font-weight: 400;
    font-size: 14px;

}

/*controls top right*/
.headings.horizontal-controls{
    position: absolute;
    right: 0;
}

.container.list-items-grid{
    display: flex;
    transition-duration: .6s;
    transition-property: transform;
    transition-timing-function: ease-in-out;
}

ul,li{
    margin: 0;
    list-style: none;
    padding: 0;
}

h2,h3{
    margin: 0;
}