.list-item-card{
  margin-left: 30px;
}

.list-item-card .list-item-card-image{
    width:200px;
}

.list-item-card-image img {
  max-width:100%;
}
.list-item-card .list-item-card-info{
    
}

.list-item-card-info .title{

}

.list-item-card-info .summary{
    
}