.list-item-card{
  width: 185px;
  margin-right: 24px;
}

.list-item-card-image:hover{
  opacity: 0.8;
}

.list-item-card-image{
  width: 185px;
  height: 278px;
  box-shadow: 0 1px 5px rgba(25,25,34,.12);
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  transition-duration: .15s;
  transition-property: opacity;
}

.list-item-card-image img {
  max-width: 100%;
  max-height: 100%;
}

.list-item-card-info h4{
    color: #72727d;
    font-family: "Open Sans",Arial,sans-serif;
    font-weight: 400;
}