
.horizontal-control {
    border: 1px solid #dedee3;
    color: #32323d;
    cursor: pointer;
    padding: 7px;
    text-align: center;
    transition-duration: .15s;
    transition-property: background-color,color,opacity;
}

.horizontal-control.disabled{
    cursor: default;
    opacity: .3;
}
.horizontal-control:hover:not(.disabled) {
    background-color: #fff;
    color: #007feb;
}

button{
    background: 0 0;
    outline:0;
}