.sub-nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FAFBFC;
    border-bottom: 0.01em;
    border-bottom-style: solid;
    border-bottom-color: #D9D9D9;
}

.sub-nav-container .sub-nav-title {
    display: flex;
    font-size: 1.5em;
    font-family: "Open Sans", Sans-serif;
    padding: 1em 1em 1em 0.5em;
}

.sub-nav {
    display: flex;
    align-self: flex-end;
    padding: 5px;
}

.sub-nav li a {
    color: #1A1A1A;
    margin-right: 15px;
    font-weight: bold;
    font-size: 0.8em;
    text-decoration: none;
}

.sub-nav li a:hover {
    color: #999;
}

.sub-nav li a span {
    border-left: 1px solid #e8e8e8;
    padding: 0 1px 0 15px;
}

.sub-nav li:first-child a span {
    border-left: 0 none;
}

ul {
    list-style: none;
}