.header {
    display: flex;
    flex-direction: column;
}

.header .navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #222;
    height: 3em;
    color: white;
}

.navigation-bar .navigation-bar-logo {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    height: 1.5em;
}

.navigation-bar-logo .logo{
    display: flex;
}