.header {
    display: flex;
    flex-direction: column;
    position: relative;
}

.background{
    background-image: url('./assets/fond-description2.jpg');
    background-size: cover;
    background-position: 72%;
    min-height: 100vh;
    top: 0;
}